* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1 fr auto;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    width: 80%;
    padding: 3rem 0;
}