---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'

const pageTitle = "Sneakers"

const identity = {
	nombre: "Blog sneakers",
	pais: "Chile",
	descripcion: "Blog dedicados a hablar sobre las diferentes tipos de siluetas existentes en el mercado"
}

const marcas = ["Jordan", "Puma", "Adidas", "Nike"]
---

<BaseLayout pageTitle="Nosotros">
	<head><link rel="stylesheet" href="/styles/about.css"></head>

	<div class="container">

		<div class="content">
			<div class="title">
				<h1>Sobre el blog</h1>
			</div>
			
			
			<p>Algunos datos sobre el blog</p>
			
			<ul class="description">
				<li>{identity.nombre}</li>
				<li>La pagina es originaria de {identity.pais} y este es un {identity.descripcion}</li>
			</ul>
			
			<p>Algunas marcas que puedes encontrar son:</p>
			<ul>
				{marcas.map((marca) => <li class="marca">{marca}</li>)}
			</ul>
		</div>
		
	</div>
	
</BaseLayout>