---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about">Sobre el blog</a>
        <a href="/blog">Blog</a>

		<h1>Blog sobre sneakers</h1>

        <h2>Todo sobre los diferentes tipos de siluetas de sneakers</h2>

        <p>Este sitio web te permitira ver contenido de diferentes tipos de siluetas de sneaker sin importar modelo, precio o marca</p>

        
	</body>
</html>
