---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'

const allPost = import.meta.glob('../pages/posts/*.md')

---

<BaseLayout pageTitle="Blog sobre sneakers">
	<p>Aqui se publicara sobre diferentes siluteas</p>
	
	<ul>
		
	</ul>

</BaseLayout>