---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection('posts')

---

<BaseLayout pageTitle="pagina de inicio">
	<head><link rel="stylesheet" href="/styles/index.css"></head>
	<div class="container">

		<div class="content">
			<div class="titulo">
				<h1>@blog_sneakers</h1>
			</div>
			
			<div class="sneakers">
				<div class="sub-title">
					<p>Aquí se publicarán diferentes tipos de siluetas</p>
				</div>
				<div class="posts-container">
					<ul>
						{
							posts.map(post => {
								const {slug, data} = post
								const { title, author, image, pubData, description} = data

								return (

									<li class="posts">
										<a href={`/post/${slug}`}>
											<div class="post-img">
												<img src={`/${image}`} alt={title} class="silueta">
											</div>
											<div class="description">
												<p>{title}</p>
												<p>Marca: Jordan</p>
											</div>
										</a>
									</li>
								)
							})
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
