---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="pagina de inicio">
	<head><link rel="stylesheet" href="/styles/index.css"></head>
	<div class="container">

		<div class="titulo">
			<h1>@blog_sneakers</h1>
		</div>
		
		<div class="content">
			<div class="sub-title">
				<p>Aquí se publicarán diferentes tipos de siluetas</p>
			</div>
			<div class="posts-container">
				<ul>
					<li class="posts">
						<a href="posts/post-1" class="post">
							<img src="https://static.nike.com/a/images/w_1280,q_auto,f_auto/34d6f0cb-70ef-48e5-81ad-f618a32be1ed/air-jordan-iv-black-cat-release-date.jpg" alt="Foto de la silueta" class="silueta">
							<div class="description">
								<p>Modelo: Jordan 4 black cat</p>
								<p>Marca: Jordan</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</BaseLayout>
