---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="pagina de inicio">
	<head><link rel="stylesheet" href="/styles/index.css"></head>
	<div class="titulo">
		<h1>@blog_sneakers</h1>
	</div>
</BaseLayout>
