---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="pagina de inicio">
	<head><link rel="stylesheet" href="/styles/index.css"></head>
	<div class="titulo">
		<h1>@blog_sneakers</h1>
	</div>

	<div>
		<div>
			<h2>Aquí se publicarán diferentes tipos de siluetas</h2>
		</div>
		<div>
			<ul>
				<li>(Cargar los post de los archivos md)</li>
			</ul>
		</div>
	</div>
</BaseLayout>
