---
import Social from "./Social.astro";

---

<footer>
    <div class="container">

        <div class="content">
            <Social platform="instagram" user="blog_sneakers"/>
            <Social platform="facebook" user="blog_sneakers"/>
            <Social platform="x" user="blog_sneakers"/>
        </div>
    </div>
</footer>