---
import Navigation from "./Navigation.astro";
---

<header>
    <div class="container">
        <div class="content">

            <nav>
                <Navigation>
            </nav>
        </div>
    </div>
</header>