.title {
    text-align: center;
    padding: 1rem 0;
}

h1 {
    font-size: 3rem;
}

.marca {
    color: var(--marcaColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
}

.description {
    list-style-type: none;
}