nav {
    background: #707070;
}

.nav-links {
    padding: 2rem 2rem 2rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.nav-links a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    padding: 0.4rem 1.2rem;
}

