.titulo {
    padding: 2rem 0;
    text-align: center;
}

.titulo h1 {
    font-size: 3rem;
}

.sub-title {
    padding-left: 1rem;
    font-size: 1.5rem;
}

.posts-container {
    padding: 1rem 0.5rem;
}

.posts {
    border: 3px solid #111;
    border-radius: 10%;
    list-style-type: none;
}

.post {
    text-decoration: none;
    font-size: 1.2rem;
}

.post-img {
    display: flex;
    justify-content: center;
}

.description {
    display: grid;
    align-items: center;
    color: #111;
    padding: 1rem 0 1rem 5%;
}

.description p {
    padding: 0.5rem 0;
}

.silueta {
    width: 50%;
}